@import url("../scss/_fonts.scss");
@import url("../scss/_mixins.scss");

.show{
    display: block !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;

}

input.form-control{
    &:focus{
        box-shadow: none;
    }
}

body{
    height: 100vh;
    width: 100%;
    font-family: "Montserrat-regular" ;
    position: relative;
    
}

.wraper{
    height: 100%;
    width: 100%;
    &::before{
        content: "";
        background: url("../img/bg-img.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .menu-icon{
        display: none;
    }

    .bar-section{
        display: none;
    }
  

    .navbar{
        position: fixed;
        padding: 0 2rem;
        height: 100vh;
        display: flex;
        z-index: 1024;
        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            z-index: 1024;
            a{
                display: flex;
                justify-content: center;
                align-self: center;
                border: none;
                height: 3rem;
                width: 3rem;
                padding: 0.8rem;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .sm-link{
            display: none;
        }
    }

    .main-content{
        height: 100vh;
        background-color: rgba(182, 142, 142, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
        position: relative;
        

        .main-info{
            text-align: center;

            .head-txt{
                font-family: "Montserrat-regular";
                margin-bottom: 1.5rem;
                font-size: 3rem;
                text-transform: uppercase;
            }

            .sec-txt{
                font-family: "Montserrat-regular";
                line-height: 1.5rem;
                font-size: 1.6rem;
                margin-bottom: 2rem;
                font-weight: 600;
            }

            .gt-btn{
                font-family: "Montserrat-regular";
                height: 2.5rem;
                padding: 0.4rem 1rem;
                border-radius: 1.2rem;
                border: none;
                background-color: white;
                color: black;
                font-size: 1.2rem;
                font-weight: 700;
                cursor: pointer;

                &:hover{
                    background-color: black;
                    color: white;
                    transition: 0.5s all;
                }
            }

        }
    }

    .txt-head{
        text-transform: uppercase;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        &::before{
            content: "";
            display: block;
            position: absolute;
            bottom: -1rem;
            border-bottom: 0.25rem solid black;
            border-radius: 0.625rem;
            width: 8rem;

        }
    }

    .about-section{
        .about-hldr{
            padding-top: 4rem;
            .abt-txt{
                font-size: 1rem;
                text-align: center;
                line-height: 1.8rem;
                margin-bottom: 2rem;
            }

            .wrk-des{
                text-align: center;
                text-transform: uppercase;

            }
        }
    }

    .contact-section{
        input{
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 0.8rem;
            border: 1px solid gray;
        }

        .sub-imput{
            height: 10rem;
            overflow-y: auto;
            position: relative;
            &::placeholder{
                position: absolute;
                top: 0.5rem;
            }
        }
    }
}




// Responsive

@media screen and (max-width:767px) {
    .wraper{
        .contact-section{
            input.name-input{
                margin-bottom: 1.5rem;
            }
        }
    } 
}



@media screen and (min-width:768px) and (max-width:991px) {
    
    .wraper{
        .contact-section{
            input.name-input{
                margin-bottom: 1.5rem;
            }
        }
    }

}





@media screen and  (max-width:1279.98px){

    .wraper{

      
        .menu-icon{
            display: block;
            position: fixed;
            right: 1rem;
            top: 1rem;
            z-index: 1025;
            border: none;
            background-color: transparent;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            background-color: rgb(241,241,241);
            padding: 0.2rem;
            display: flex;

            img{
                height: 100%;
                width: 100%;
            }
           
        }
        .navbar{
            height: 100vh;
            width: 100%;
            padding: unset;
            display: none;
            .link{
                display: none;
            }
            
            .sm-link{
                display: block;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #f1f1f1;
                align-items: center;
                height: 100%;
                justify-content: center;
                gap: 1rem;
                a{
                    color: black;
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: 600;

                }
            }
        }
    }
}
