.banner-wrap{
    position: relative;
    // margin-top: 74px;
    background: url("../../img/banner-image.jpg") no-repeat center center;
    // background: rgb(248,249,250);
    background-size: cover;
    height: calc(100vh - 74px);
    align-content: center;

    .banner-main{
        
        h2{
            font-size: 48px;
            line-height: normal;
            color: #000;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        p{
            font-size: 22px;
            color: #000;
            line-height: normal;
        }

        a{
            display: inline-block;
            border-radius: 20px;
            background-color: #000;
            color: #fff;
            padding: 10px 20px;
            border: 1px solid;
            border-color: #000;
            transition: 0.5s linear;
            text-decoration: none;

            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
}